h1{
    color:red;
    font-size: 50px;
}

#Parrafo1{
    background-color: aqua;
    padding: 0,5 rem;
    
}

h3{
    color:blue;
    font-family: 'Times New Roman', Times, serif;
}

h2{
    
  font-family: Arial, Helvetica, Sans-serif;
  color: white;
  background-color: blue;
}


