.box {
    display: flex;
    justify-content: space-between;
    border: black 1px solid;
    height: 100px;
  }


.box2 {
    display: flex;
    border: black 1px solid;
    height: 150px;
    justify-content: center;
  align-items: stretch;
  
  }


  
.box3 {
    display: flex;
    border: black 1px solid;
    height: 450px;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
  
  }

.F1 { width: 100px;   height: 150px; border: black 1px solid; background-color: red; color: white; font-size: 16px; }

.F2 { width: 100px;height: 150px;  border: black 1px solid; background-color: blue; color: white; font-size: 16px;}

.F3 { width: 100px;height: 150px;  border: black 1px solid; background-color: green; color: white; font-size: 16px;}