header{
    background-image: url("img/imagen3.webp");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px 0;
}

header h1{
    color: white;
    font-size: 40px;
    font-weight: 100;
    font-style: italic;
    display: inline-block;
    position: relative;
    bottom: 35px;
    margin-left: 10px;
}

nav{
    
    background-color: #AF601A;

    margin-bottom: 20px;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;

}

footer{
    background-color: #F0B27A;
    clear: both;
    color: #333;
    text-align: center;
    padding: 5px 0;
    margin-top: 20px;
}

.holder{
    max-width: 960px;
    margin:0 auto;
}

h2{
    color:#AF601A;
    font-weight: 400;
}

.bienvenidos{
    width: 50%;
    padding-right: 10px;
    box-sizing: border-box;
}

.bienvenidos p{
    font-size: 20px;
}

.imagenbienvenidos{
    width: 35%;
}

.columnas{
    display: flex;
    justify-content: space-between;
}

.servicio{
    font-size: 30px;
    border: 1px solid #AF601A;
    border-radius: 10px;
    padding: 16px;
    margin: 16px 0;
    display: flex;
    gap:32px;
    align-items: center;
}

.servicio .info h4{
    
    font-size: 25px;
    color: #AF601A;
    font-weight: 500;
    font-style: italic;
    border-bottom: 1px solid #AF601A;
    padding-bottom: 10px;
}

.servicio .info p{
    font-size: 15px;
}

.servicio img{
    border-radius: 13px;
    display: block;
    max-width: 150px;
}


